input.sub, button {
	background-color: #212121;
	color: #fb3d52;
	width: 100px;
	height: 50px;
	border: 1px solid #212121;
	border-radius: 15px;
	font-weight: 800;
	font-size: 14px;
  font-family: 'Trebuchet MS';
}
input.sub:hover, button:hover {
	background-color: #3e4770;
}
textarea {
	border: 1px solid #212121;
	border-radius: 10px;
	width: 50vw;
}
form {
	margin-left: 25vw;
	margin-right: 25vw;
}
#AI {
  font-size: 14px;
	font-family: 'Trebuchet MS';
  border-radius: 10px;
  color: #ff0000;
  text-align: center;
}
h1 {
	font-family: "sabbath-black", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 48px;
  border-radius: 10px;
  color: #ff0000;
  text-align: center;
}
#error{
  color: #ff0000;
  font-size: 50px;
}
body {
	background-color: #212121;
  font-family: 'Trebuchet MS';
}
p.input {
	color: #ffffff;
}
#skillissue {
  color: #000000;
}
td#in, td#out {
	width: 50%;
	padding: 10px;
}
td#in {
	background-color: #000000;
	color: #ffffff;
}
td#out {
	background-color: #ffffff;
	color: #000000;
}
table#ItBurns {
	width: 100%;
	min-height: 90vh;
}
#Green {
	color: lightgreen;
}
#log {
	float: right;
}
div.logDiv {
	overflow: auto;
}
label {
	font-family: 'Trebuchet MS';
	color: #fb3d52;
}