{% extends 'base.html' %}
{% block content %}
<h1>Our analysis...</h1>
<button onclick="window.location.href='/'" class="back">Back</button>
<table id="ItBurns">
	<tr>
			<td id="in">
					<div classs = "enterText"><h2>Entered Text</h2></div>
					<h4 style='text-decoration: underline' >You asked us to analyze the following literature:</h4>
		  <p class="input">
				{% for j in text_in %}
					{{j}}<br><br>
				 {% endfor %}
			</p>
		</td>
		<td id="out">
			{% for line in lines %}
				<p class='tooltip' literary-type="{{line[1]}}">
					{% for i in line[0] %}
						{{i}}
					 {% endfor %}
					<span class="tooltiptext">
					 {% for para in line[2] %}
						{{para}}<br>
					 {% endfor %}
				</span>
				</p> <br>
			{% endfor %}
		</td>
		<!-- <button onclick ="location.href = {{link}}" id ='aiImage'>View Generated AI Image.</button> -->
		<a target = "_blank" href="{{link}}"><button id='aiImage'>View Generated AI Image.</button></a>
	</tr>
</table>

<div class = 'key' >
	<h3>LEGEND</h3>
	<div class = metaphor>Metaphor</div><br>
	<div class = character>Characterization</div><br>
	<div class = imagery>Imagery</div><br>
	<div class = juxtapose>Juxtaposition</div><br>
	<div class = none>None</div>
</divl>

{% endblock %}