{% extends 'base.html' %}
{% block content %}
<table>
	<tr>
		<td>
			<h1>Sign Up</h1>
		</td>
		<td>
			<h1>Log In</h1>
		</td>
	</tr>
	<tr>
		<td>
			<form>
				<label>Username</label>
				<input type="text">
				<label>Password</label>
				<input type="password">
				<label>Confirm Password</label>
				<input type="password">
			</form>
		</td>
		<td>
			<form>
				<label>Username</label>
				<input type="text">
				<label>Password</label>
				<input type="password">
			</form>
		</td>
	</tr>
</table>
{% endblock %}